html {
  box-sizing: border-box
}

*,*:before,*:after {
  box-sizing: inherit
}

body {
  margin: 0;
  background: #444
}

#gameContainer {
  width: 100vw;
  height: 100vh
}

canvas {
  width: 100%;
  height: 100%;
  display: block
}

canvas+* {
  z-index: 2
}

.container {
  max-width: 1600px;
  position: relative;
  top: -20px
}

.logo {
  display: block;
  max-width: 100vw;
  max-height: 70vh;
  width: auto!important;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center
}

.progress {
  margin: 1.5em;
  width: 50vw;
  display: none
}

.progress .full {
  margin: 2px;
  transform-origin: top left
}

#loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000
}

.pos_progress {
  position: absolute;
  bottom: -3%;
  width: 100%
}

.progress {
  margin: 1.5em auto;
  max-width: 870px;
  height: auto;
  position: relative
}

.full {
  width: 99%;
  transform-origin: top left
}

.box_process {
  width: 100%
}

.process {
  width: 99%
}

.progress .posfull,.progress .posbox {
  position: absolute
}

.progress .posfull {
  z-index: 2;
  left: 4px
}

.progress .posbox {
  top: 0;
  z-index: 1
}

.spinner,.spinner:after {
  border-radius: 50%;
  width: 5em;
  height: 5em
}

.spinner,.spinner:after {
  border-radius: 50%;
  width: 5em;
  height: 5em
}

.spinner {
  display: none;
  margin: 10px;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255,255,255,.2);
  border-right: 1.1em solid rgba(255,255,255,.2);
  border-bottom: 1.1em solid rgba(255,255,255,.2);
  border-left: 1.1em solid #fff;
  transform: translateZ(0);
  animation: spinner-spin 1.1s infinite linear
}

@keyframes spinner-spin {
  0% {
      transform: rotate(0deg)
  }

  100% {
      transform: rotate(360deg)
  }
}
